html{
    scroll-behavior:smooth;
}

header{
    display: block;
}

nav{
    background-color: #ed2532;
    padding: 25px 0; 
    text-align: left;
    padding-left: 40px;
}

nav li{
    display: flex;
    line-height: 30px;
    flex-direction: column;
    padding-right:20px;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav a:hover{
    color: black;
}
  
nav a{
    color: #fff5d7;
    font-size: 20px;
    text-decoration: unset;
}

.skip a{
    position: absolute;
    top: -40px;
}
  
.skip a:focus{
    top: 30px;
    right: 20px;
}

footer{
    background-color:#ed2532;
    color: #fff5d7;;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #fff5d7;
}

h1{
    text-align: center;
    font-size: 40px;
    color: #ed2532;
    background-color: rgba(255, 217, 0, 0.905);
    padding: 30px;
    margin-top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.container{
    color: #fff5d7;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button.control{
    background-color: #ed2532;
    font-size: 15px;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border-color:#ed2532;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.controls{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-around;
    align-items: center;
}

element.style{
    display: grid;
    justify-content: center;
}

.pig, .gazpacho, .jamon, .paella, .patatas, .pisto, .tortilla, .tostas, .turrón, .gambas{
    background-color: #ed2532;
    overflow: scroll;
    padding: 15px;
    border-radius: 20px;
    width: 300px;
    height: min-content;
}

.pig p, .gazpacho p, .jamon p, .paella p, .patatas p, .pisto p, .tortilla p, .tostas p, .turrón p, .gambas p{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 5px;;
}

.container-gallery{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    /* grid-template-rows: repeat(10, 1fr); */
    place-items: center;
}

.about-food{
    color: #ed2532;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px #ed2532 solid;
    margin: 10px;
    font-size: 20px;
    background-color: rgba(255, 217, 0, 0.905);
    padding: 8px;
}

.about-food h2{
    text-decoration: underline;
    font-weight: bold;
}

/* index/home page */
.pics-of-us h2{
    background-color: #ed2532;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #fff5d7;
    text-align: center;
    font-weight: bolder;
}
.pics-of-us img{
    margin: 20px;
    border: #ed2532 5px solid;
}

.about-us h3{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}
.about-us{
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ed2532;
    padding: 30px;
    color: #fff5d7;
    line-height: 20px;
    text-align: center;
}

.seperate{
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 217, 0, 0.905);
    padding: 20px;

}
.seperate p{
    margin-bottom: 20px;
}
.seperate h3{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.gallery img{
    border: 5px #ed2532 solid;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px;
}
.click-pic{
    color:#fff5d7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px #ed2532 solid;
    margin: 10px;
    font-size: 20px;
    background-color:#ed2532;
    padding: 8px;
}
.about-attractions{
    color: #ed2532;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px #ed2532 solid;
    margin: 10px;
    font-size: 20px;
    background-color: rgba(255, 217, 0, 0.905);
    padding: 8px;
}

.about-attractions h2{
    text-decoration: underline;
    font-weight: bold;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.festival{
    width: 400px;
    margin: 10px;
    text-align: left;
    font-size: 17px;
    background-color: #ed2532;
}

.festival h3{
    font-weight: bold;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.festival{
    border: solid 2px #ed2532;
    padding: 20px;
    align-items: center;
    color: #fff5d7;
}

.about-festivals{
    color: #ed2532;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px #ed2532 solid;
    margin: 10px;
    font-size: 20px;
    background-color: rgba(255, 217, 0, 0.905);
    padding: 8px;
}

.about-festivals h2{
    text-decoration: underline;
    font-weight: bold;
}

/*for active nav */

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Style the active class (and buttons on mouse-over) */
  .active, .btn:hover {
    background-color: #fff5d7;
    color:#ed2532;
    font-weight: bold;
    border: 6px #ffd900e7;
    border-radius: 20px;
  }

  .home_container{
    display:grid;
    grid-template-columns: 100%;
    grid-gap: 15px;
    justify-items: center;

}

.home_container h2{
    font-size: 30px;
}

@media screen and (min-width: 800px){

    nav{
        display: block;
        background-color: #ed2532;
        padding: 25px 0; 
        text-align: left;
        padding-left: 40px;
    }
    
    nav li{
        display:inline;
        padding-right:20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .container-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .pig, .gazpacho, .jamon, .paella, .patatas, .pisto, .tortilla, .tostas, .turrón, .gambas{
        background-color: rgba(255, 217, 0, 0.905);
        height: 500px;
        overflow: scroll;
        padding: 15px;
        width: 300px;
        border-radius: 20px;
        color:#ed2532
    }

    .gallery img{
        border: 10px solid rgba(255, 217, 0, 0.905);
        width: 350px;
        height: 350px;
        border-radius: 50%;
        margin: 30px;
    }


}
@media screen and (min-width: 1000px){

    .container-gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .pig, .gazpacho, .jamon, .paella, .patatas, .pisto, .tortilla, .tostas, .turrón, .gambas{
        background-color: #ed2532;
        height: 500px;
        overflow: scroll;
        padding: 15px;
        width: 300px;
        border-radius: 20px;
        color:#fff5d7
    }

    .pig p, .gazpacho p, .jamon p, .paella p, .patatas p, .pisto p, .tortilla p, .tostas p, .turrón p, .gambas p{
        font-size: 25px;
        font-weight: bold;
    }

    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
    .gallery img{
        border: 10px solid black;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: 30px;
    }

    .gallery a:last-child{
        grid-column: 2/3;
    }

    .gambas{
        grid-column: 2/3;
    }
}